.portfolio-items {
  @include container($max-width: 75em);
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(1, 1fr);

  .portfolio-item {
    margin: 0;
  }
  @include mq {
    grid-template-columns: repeat(2, 1fr);
  }
}

.portfolio {
  text-align: center;
  background: $light-grey;
  padding: 5em 0;
}

// .portfolio-items {
//   display: flex;
//   flex-wrap: wrap;
//   @include container($max-width: 75em);
// }

.portfolio-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 10rem;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
    background: rgba($accent, 0.75);
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
  }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }

  // @include mq {
  //   grid-template-columns: 1fr;
  // }
}

.portfolio-title {
  color: $white;
  font-size: 2rem;
  margin-bottom: auto;

  @include mq {
    font-size: 2rem;
  }
}

.portfolio-description {
  display: none;

  @include mq {
    display: block;
  }
}

.portfolio-link {
  color: $white;
  font-weight: $fw-b;
  font-size: 0.5rem;
  text-decoration: none;
  border-bottom: 3px solid $white;
  align-self: flex-start;

  @include mq {
    font-size: 1rem;
  }
}

// @supports (display: grid) {
//   .portfolio-items {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);

// @media screen {
//   grid-template-columns: repeat(4, 1fr);
// }
//   }

.portfolio-item.featured {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.featured {
  .portfolio-title {
    font-size: 1.8rem;

    @include mq {
      font-size: 4rem;
    }
  }
  .portfolio-link {
    font-size: 0.5rem;

    @include mq {
      font-size: 1rem;
    }
  }
  .portfolio-description {
    display: block;
  }
}
// }
